<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download</title>
</head>
<body>
    <div class="jumbotron container-fluid text-center">
        <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">no.</th>  
                <th scope="col">Item</th>    
                <th scope="col">Quantity</th> 
                <th scope="col">Price(Rs)</th>
                <th scope="col">Total(Rs)</th>  
                <th scope="col">DateTime</th>           
              </tr>
            </thead>
            <tbody>
              
        {%for row in name%}
        <tr>
          <th scope="row">1</th>
            <td>{{row.item}}</td>
            <td>{{row.quantity}}</td> 
            <td>{{row.price}}</td>  
            <td>{{row.price * row.quantity}}</td>  
            <td>{{row.date}}</td>
        </tr>
        {%endfor%}
            </table>
    </div>
      </div>
</body>
</html>
   
      
  